.sizeInput {
    width: 60px;
    height: 30px;
    border: 1px solid #EBEBEB;
    font-size: 18px;
    color: #797979;
    font-weight: lighter;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    line-height: 30px;
}
