.previewHint {
  vertical-align: middle;
  a {
    margin-left: 3px;
    display: inline-block;
    text: #4A90E2 14px;
  }
}

.thumb {
  flex: 1 1 45%;
  text-align: center;
  position: relative;
  img {
    display: inline-block;
    height: 100%;
  }
  &Wrap {
    size: 389px 473px;
    display: block;
    margin: 0 auto;
    position: relative;
  }
}

.icon {
  size: 20px;
  vertical-align: middle;
  margin-right: 3px;
  display: inline-block;
  svg {
    margin-top: -2px;
  }
}
