.counter {
  position: absolute  50% 30px * *;
  transform: translate(50%,-50%);
  display: block;
  border-radius: 10px;
  size: auto 20px;
  background-color: #5DC252;
  text-align: center;
  text: #fff 300 12px 20px;
  padding: 0 4px;
}
